@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  margin: 0;
  font-family: "Sora", sans-serif;
  /* 
    you can use Poppins font 
  */
  /* font-family: "Poppins", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #cecece;
  border-radius: 5px;
  padding: 8px;
  color: #181818;
}

.glass-chat-light {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.glass-chat-dark {
  background: rgba(3, 5, 16, 0.5);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
